{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCBR - Reader</title>
    <script src="{% static 'js/jquery-3.6.2.js' %}"></script>
    <script src="{% static 'js/reader.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/reader.css' %}">
</head>
<body>
    <div class="content">
        <input type="hidden" id="filename" value="{{ file }}">
        <input type="hidden" id="page_current" value="{{ page_current }}">
        <img id="image" max="{{ page_total }}" src="" />
        <div class="btn" id="controls-btn"></div>
        <div class="btn" id="next-btn"></div>
        <div class="btn" id="previous-btn"></div>
    </div>

    <div class="controls">
        <form action="/">
            <button type="submit" id="close-btn"><i class="fa fa-home" aria-hidden="true"></i></button>
        </form>
        <button id="skip-10" style="transform: rotate(180deg)">
            <i class="fa fa-forward fa-rotate-by 90" aria-hidden="true"></i>
        </button>
        <div id="image-scale-container">
            <span id="image-scale-span">100%</span>
            <input type="range" min="100" max="500" value="100" name="image-scale" id="image-scale">
        </div>
        <button id="skip-10-back">
            <i class="fa fa-forward" aria-hidden="true"></i>
        </button>
        <button id="fill-width-btn">
            <i class="fa-solid fa-left-right"></i>
        </button>
    </div>

    <div class="current-page-number">
        1/{{ page_total }}
    </div>
</body>
</html>