{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangaReader - {% block 'title' %}{% endblock 'title' %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">

    <script src="{% static 'js/jquery-3.6.2.js' %}"></script>

    {% block 'head' %}{% endblock %}
</head>
<body>
    <div class="navbar is-primary">
        <div class="navbar-brand">
            <div class="navbar-item">
                MangaReader
            </div>
            <a role="button" class="navbar-burger" aria-label="menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Dashboard</a>
                <a class="navbar-item" href="/add_manga_series">Add Manga</a>
            </div>
        </div>
    </div>

    <script>
        var expanded = false;

        $(".navbar-burger").on("click", function(e) {
            if(expanded) 
                $(".navbar-menu").removeClass("is-active")
            else
                $(".navbar-menu").addClass("is-active")

            expanded = !expanded
        })
    </script>
    {% block 'content' %}{% endblock %}
</body>
</html>